.elementor-6 .elementor-element.elementor-element-d8de7e1 {
    margin-top: 12px;
    margin-bottom: 0px;
    display: none;
}

.elementor-element-84afb6f>.elementor-column-wrap>.porto-carousel,
.elementor-element-84afb6f>.porto-carousel {
    --porto-el-spacing: 0px;
}

.elementor-6 .elementor-element.elementor-element-6b5eb3c>div.elementor-container {
    max-width: 500px;
    --porto-flick-carousel-width: 500px;
}

.elementor-6 .elementor-element.elementor-element-6b5eb3c>.elementor-container {
    min-height: 0px;
}

.elementor-6 .elementor-element.elementor-element-6b5eb3c>.porto-ibanner {
    background-color: #BFE1F2;
    min-height: 400px;
}

.elementor-6 .elementor-element.elementor-element-9cfd138>.porto-ibanner {
    background-color: #BFE1F2;
    min-height: 400px;
}

.elementor-6 .elementor-element.elementor-element-7009ee4>.porto-ibanner,
.elementor-6 .elementor-element.elementor-element-7009ee4.porto-ibanner {
    min-height: 200px;
}

.elementor-6 .elementor-element.elementor-element-7009ee4:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-6 .elementor-element.elementor-element-7009ee4>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #D9E1E1;
}

.elementor-6 .elementor-element.elementor-element-7009ee4>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-6 .elementor-element.elementor-element-7009ee4>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6 .elementor-element.elementor-element-4a52167>.porto-ibanner,
.elementor-6 .elementor-element.elementor-element-4a52167.porto-ibanner {
    min-height: 200px;
}

.elementor-6 .elementor-element.elementor-element-74ae36a>.porto-ibanner,
.elementor-6 .elementor-element.elementor-element-74ae36a.porto-ibanner {
    min-height: 200px;
}

.elementor-6 .elementor-element.elementor-element-74ae36a:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-6 .elementor-element.elementor-element-74ae36a>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #D9E1E1;
}

.elementor-6 .elementor-element.elementor-element-74ae36a>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-6 .elementor-element.elementor-element-74ae36a>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6 .elementor-element.elementor-element-4afac6e>.porto-ibanner,
.elementor-6 .elementor-element.elementor-element-4afac6e.porto-ibanner {
    min-height: 200px;
}

.elementor-6 .elementor-element.elementor-element-4afac6e:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-6 .elementor-element.elementor-element-4afac6e>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #D9E1E1;
}

.elementor-6 .elementor-element.elementor-element-4afac6e>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-6 .elementor-element.elementor-element-4afac6e>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6 .elementor-element.elementor-element-0b789ba {
    margin-top: 10px;
    margin-bottom: 20px;
}

.elementor-element-9b46a6d>.elementor-column-wrap>.porto-carousel,
.elementor-element-9b46a6d>.porto-carousel {
    --porto-el-spacing: 0px;
}

.elementor-6 .elementor-element.elementor-element-e9f471c .porto-icon {
    font-size: 38px;
    color: #0071DC;
}

.elementor-6 .elementor-element.elementor-element-e9f471c .porto-icon svg {
    fill: #0071DC;
}

.elementor-6 .elementor-element.elementor-element-e9f471c .porto-sicon-img {
    border-radius: 200px;
}

.elementor-6 .elementor-element.elementor-element-e9f471c .porto-icon.advanced {
    border-radius: 200px;
}

.elementor-6 .elementor-element.elementor-element-e9f471c .porto-sicon-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.4px;
}

.elementor-6 .elementor-element.elementor-element-e9f471c>.elementor-widget-container {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #E7E7E7;
}

.elementor-6 .elementor-element.elementor-element-ac9c6c3 .porto-icon {
    font-size: 41px;
    color: #0071DC;
}

.elementor-6 .elementor-element.elementor-element-ac9c6c3 .porto-icon svg {
    fill: #0071DC;
}

.elementor-6 .elementor-element.elementor-element-ac9c6c3 .porto-sicon-img {
    border-radius: 200px;
}

.elementor-6 .elementor-element.elementor-element-ac9c6c3 .porto-icon.advanced {
    border-radius: 200px;
}

.elementor-6 .elementor-element.elementor-element-ac9c6c3 .porto-sicon-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.24px;
}

.elementor-6 .elementor-element.elementor-element-ac9c6c3>.elementor-widget-container {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #E7E7E7;
}

.elementor-6 .elementor-element.elementor-element-33e3357 .porto-icon {
    font-size: 40px;
    color: #0071DC;
}

.elementor-6 .elementor-element.elementor-element-33e3357 .porto-icon svg {
    fill: #0071DC;
}

.elementor-6 .elementor-element.elementor-element-33e3357 .porto-sicon-img {
    border-radius: 200px;
}

.elementor-6 .elementor-element.elementor-element-33e3357 .porto-icon.advanced {
    border-radius: 200px;
}

.elementor-6 .elementor-element.elementor-element-33e3357 .porto-sicon-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.4px;
}

.elementor-6 .elementor-element.elementor-element-33e3357>.elementor-widget-container {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #E7E7E7;
}

.elementor-6 .elementor-element.elementor-element-c1d9ea5 .porto-icon {
    font-size: 35px;
    color: #0071DC;
}

.elementor-6 .elementor-element.elementor-element-c1d9ea5 .porto-icon svg {
    fill: #0071DC;
}

.elementor-6 .elementor-element.elementor-element-c1d9ea5 .porto-sicon-img {
    border-radius: 200px;
}

.elementor-6 .elementor-element.elementor-element-c1d9ea5 .porto-icon.advanced {
    border-radius: 200px;
}

.elementor-6 .elementor-element.elementor-element-c1d9ea5 .porto-sicon-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.4px;
}

.elementor-6 .elementor-element.elementor-element-cfdbd5e .elementor-heading-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.5px;
}

.elementor-6 .elementor-element.elementor-element-cfdbd5e>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-6 .elementor-element.elementor-element-12403c1>.elementor-widget-container {
    margin: 0px 0px 30px 0px;
}

.elementor-6 .elementor-element.elementor-element-f880940 .porto-u-main-heading>* {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.5px;
}

.elementor-6 .elementor-element.elementor-element-f880940 .porto-u-sub-heading {
    line-height: 22px;
    letter-spacing: -0.42px;
}

.elementor-6 .elementor-element.elementor-element-f880940>.elementor-widget-container {
    margin: 0px 0px -4px 0px;
}

.elementor-6 .elementor-element.elementor-element-aea3510>.elementor-widget-container {
    margin: 0px 0px 30px 0px;
}

.elementor-6 .elementor-element.elementor-element-dfef10c .porto-u-main-heading>* {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.5px;
}

.elementor-6 .elementor-element.elementor-element-dfef10c .porto-u-sub-heading {
    line-height: 22px;
    letter-spacing: -0.42px;
}

.elementor-6 .elementor-element.elementor-element-dfef10c>.elementor-widget-container {
    margin: 0px 0px -4px 0px;
}

.elementor-6 .elementor-element.elementor-element-5577401>.elementor-widget-container {
    margin: 0px 0px 30px 0px;
}

.elementor-6 .elementor-element.elementor-element-a137576 .porto-u-main-heading>* {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.5px;
}

.elementor-6 .elementor-element.elementor-element-a137576 .porto-u-sub-heading {
    line-height: 22px;
    letter-spacing: -0.42px;
}

.elementor-6 .elementor-element.elementor-element-a137576>.elementor-widget-container {
    margin: 0px 0px -4px 0px;
}

.elementor-6 .elementor-element.elementor-element-1921835>.elementor-widget-container {
    margin: 0px 0px 30px 0px;
}

.elementor-6 .elementor-element.elementor-element-3c0d2de .porto-u-main-heading>* {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.5px;
}

.elementor-6 .elementor-element.elementor-element-3c0d2de .porto-u-sub-heading {
    line-height: 22px;
    letter-spacing: -0.42px;
}

.elementor-6 .elementor-element.elementor-element-3c0d2de>.elementor-widget-container {
    margin: 0px 0px -4px 0px;
}

.elementor-6 .elementor-element.elementor-element-5d09272>.elementor-widget-container {
    margin: 0px 0px 30px 0px;
}

.elementor-6 .elementor-element.elementor-element-9fd92d3 {
    margin-top: 53px;
    margin-bottom: 18px;
}

.elementor-6 .elementor-element.elementor-element-b7be6ff .porto-icon {
    font-size: 50px;
    color: #333333;
}

.elementor-6 .elementor-element.elementor-element-b7be6ff .porto-icon svg {
    fill: #333333;
}

.elementor-6 .elementor-element.elementor-element-b7be6ff .porto-sicon-img {
    border-radius: 200px;
}

.elementor-6 .elementor-element.elementor-element-b7be6ff .porto-icon.advanced {
    border-radius: 200px;
}

.elementor-6 .elementor-element.elementor-element-b7be6ff .porto-icon,
.elementor-6 .elementor-element.elementor-element-b7be6ff .porto-sicon-img {
    margin: 0px 9px 4px 0px;
}

.elementor-6 .elementor-element.elementor-element-b7be6ff .porto-sicon-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0px;
}

.elementor-6 .elementor-element.elementor-element-b7be6ff .porto-sicon-header p {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.065px;
    color: #90969A;
}

.elementor-6 .elementor-element.elementor-element-b7be6ff>.elementor-widget-container {
    margin: 0px 20px 0px 0px;
}

@media(max-width:991px) and (min-width:768px) {
    .elementor-6 .elementor-element.elementor-element-d0db49d {
        width: 100%;
    }

    .elementor-6 .elementor-element.elementor-element-71dc8e2 {
        width: 100%;
    }
}

@media(max-width:991px) {
    .elementor-6 .elementor-element.elementor-element-6b5eb3c>div.elementor-container {
        max-width: 500px;
        --porto-flick-carousel-width: 500px;
    }

    .elementor-6 .elementor-element.elementor-element-6b5eb3c>.elementor-container {
        min-height: 400px;
    }

    .elementor-6 .elementor-element.elementor-element-b7be6ff>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-6 .elementor-element.elementor-element-6b5eb3c>div.elementor-container {
        max-width: 500px;
        --porto-flick-carousel-width: 500px;
    }

    .elementor-6 .elementor-element.elementor-element-6b5eb3c>.elementor-container {
        min-height: 400px;
    }

    .elementor-6 .elementor-element.elementor-element-f880940 .porto-u-main-heading>* {
        font-size: 1.3rem;
        letter-spacing: -0.7px;
    }

    .elementor-6 .elementor-element.elementor-element-dfef10c .porto-u-main-heading>* {
        font-size: 1.3rem;
        letter-spacing: -0.7px;
    }

    .elementor-6 .elementor-element.elementor-element-a137576 .porto-u-main-heading>* {
        font-size: 1.3rem;
        letter-spacing: -0.7px;
    }

    .elementor-6 .elementor-element.elementor-element-3c0d2de .porto-u-main-heading>* {
        font-size: 1.3rem;
        letter-spacing: -0.7px;
    }

    .elementor-6 .elementor-element.elementor-element-b7be6ff .porto-sicon-title {
        font-size: 16px;
    }
}